*{
    box-sizing: border-box;
}
body{
    transition: all 0.4s ease;
}
.card{
    position: relative;
    width: 365px;
    margin: 5px .15%;
    transition: all 0.4s ease;
}
.card img{
    position: absolute;
    left: 70%;
    bottom: 22.5%;
    z-index: -1;
    scale: 1.95;
    transition: all 0.4s ease;
}
#img2, #img4{
    bottom: 17.5%;
    left: 70.5%;
    opacity: 0.75;
    scale: 2.10;
    transition: all 0.4s ease;
}
.container-fluid{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.4s ease;
    
}
@media(max-width:1200px){
    #img2, #img4{
        bottom: 17.5%;
        left: 55.5%;
        opacity: 0.75;
        scale: 2.10;
    }
    .card{
        margin: 2.5px;
    }
    .container-fluid{
        flex-wrap: wrap;
    }
 
}
@media(max-width:1024px) {

    #img2, #img4{
        bottom: 17.5%;
        left: 72.5%;
        opacity: 0.75;
        scale: 2.10;
    }
    .card{
        width: 370px;
        margin: 5px;
    }
}
@media(max-width: 600px){
    .container-fluid{
        flex-flow: column wrap;
        align-items: center;
        padding: 0;
        margin-left: 0;
    }
    .card img{
        position: absolute;
        left: 55%;
        bottom: 22.5%;
        z-index: -1;
        scale: 1.95;
    }
    #img2, #img4{
        bottom: 17.5%;
        left: 60.5%;
        opacity: 0.75;
        scale: 2.10;
    }
    .card{
        width: 275px;
    }
} 
@media(max-width: 434px){
    .container-fluid{
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin-left: 0;
    }
    .card{
        width: 250px;
    }
}